src/main/app/jmsrestpersist.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.1"
	xmlns:management="http://www.mulesoft.org/schema/mule/management"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/management http://www.mulesoft.org/schema/mule/management/3.1/mule-management.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<!-- <custom-agent name="jolokia-agent" class="org.jolokia.mule.JolokiaMuleAgent"> 
		<spring:property name="port" value="8161" /> <spring:property name="user" 
		value="admin" /> <spring:property name="password" value="admin" /> </custom-agent> 
		<management:jmx-server /> -->

	<flow name="jmsrestpersistFlow1" doc:name="jmsrestpersistFlow1">
		<http:inbound-endpoint exchange-pattern="one-way"
			host="localhost" port="8081" doc:name="HTTP" />
		<echo-component doc:name="Echo" />
		<message-filter doc:name="Filter favicon">
			<not-filter>
				<wildcard-filter pattern="/favicon.ico"
					caseSensitive="true" />
			</not-filter>
		</message-filter>
		<component doc:name="MuleClient- GetQueueDetails"
			class="com.fiverr.jmx.rest.api.MuleClientJolokiaAPI" />
		<json:json-to-object-transformer
			returnClass="java.util.HashMap" doc:name="JSON to Object" />
		<component class="com.fiverr.jmx.rest.api.JMSMQDetailsList"
			doc:name="DataSynthethizer- GetQueueTypeDetails" />
		<logger doc:name="message" level="INFO"
			message="payload before foreach :  #[payload]" />
		<component doc:name="Java"
			class="com.fiverr.jmx.rest.api.MuleClientJMXAttrDetails" />
		<foreach collection="#[payload]" doc:name="Foreach">
			<json:json-to-object-transformer
				returnClass="java.util.Map" doc:name="JSON to Object" />
			<!-- <foreach collection="#[payload.entrySet()]" doc:name="Foreach"> <logger 
				doc:name="message" level="INFO" message="payload in outer foreach : #[payload]" 
				/> -->
			<component doc:name="Java"
				class="com.fiverr.jmx.rest.api.ParseMessageDetails" />
			<!-- <choice doc:name="Choice"> <when expression="payload.key == 'request'"> 
				<set-variable variableName="queueKeyDetails" value="#[payload.value]" doc:name="Variable"/> 
				<logger doc:name="message" level="INFO" message="Queue Type : #[queueKeyDetails.destinationType]"/> 
				</when> <when expression="payload.key == 'value'"> <flow-ref doc:name="lookupRouter" 
				name="lookupRouterAndPersist"/> </when> <otherwise> <logger doc:name="message" 
				level="INFO" message="Message to discard #[payload]" /> </otherwise> </choice> -->
			<!-- </foreach> -->
			<flow-ref doc:name="lookupRouter" name="lookupRouterAndPersist" />
		</foreach>
		<echo-component doc:name="Echo" />
		<file:outbound-endpoint path="C:\Users\vijay\Desktop"
			responseTimeout="10000" doc:name="queue_details" />
	</flow>
	<sub-flow doc:description=" routing to different persist document"
		doc:name="lookupRouterAndPersist" name="lookupRouterAndPersist">
		<description>
			choice router and persist queue and topic
		</description>
		<logger doc:name="message" level="INFO"
			message="Message to sub flow  #[payload]" />
		<processor-chain doc:name="Processor Chain">
			<logger doc:name="message" level="INFO"
				message="Message to properties  #[message.outboundProperties['destinationTypeProp']]" />
			<choice doc:name="Choice">
				<when
					expression="#[message.outboundProperties['destinationTypeProp']=='Queue']">
					<logger doc:name="message" level="INFO"
						message="Message to persist Queue  #[payload]" />
				</when>
				<when
					expression="#[message.outboundProperties['destinationTypeProp']=='Topic']">
					<logger doc:name="message" level="INFO"
						message="Message to persist Topic  #[payload]" />
				</when>
				<otherwise>
					<logger doc:name="message" level="INFO"
						message="Message to persist  otherwise #[payload]" />
				</otherwise>
			</choice>

		</processor-chain>


	</sub-flow>
</mule>
